@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,400&display=swap');


/* color de fuente a usar*/
:root {
    --color-de-fuentes:#c49e71;
    --white: #FFFAFA;
    --red-cart: #D00207;
    --beige: #DDD0C8;
    --dark-grey: #323232;
    --crimson: #F0122D;
}

.bg-color-grey {
    background-color: #323232 ;
}


*{
    font-family: 'Roboto Condensed', sans-serif;
}



/* Fuentes tamaños y colores*/
h1,h2{
    text-align: center; 
    margin: 30px; 
    color:var(--crimson);   
}
h3 {
    text-align: center; 
    margin: 30px; 
    color: #F0122D;   
}

p{
    color: var(--beige);
    font-size: 20px;
    line-height: 28px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
h1{font-size: 45px}
h2{font-size: 35px;}
h3{font-size: 20px;}

/*ACA ARRANCA EL NAV*/

nav {
    font-size: 60px;
    margin-top: 0px;    
}

/*
nav{
    font-size: 75px;
    color: var(--beige);  
    background-color: var(--dark-grey); 
    padding-left: 0px;
    padding-top: 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: ;
    min-height: 100px;
    max-height: 200px;
}
*/

.sticky {
    position: sticky;
    top: 0;
    background-color: var(--crimson);
    text-align: center;
    font-size: 20px;
}

 
.links{
                            color: var(--beige) ;
                            text-decoration: solid;
                            max-height: 100%;
                            padding: 0 10px;
                            }
.link:hover {
    color: var(--crimson);
    text-decoration: wavy;

}

.logo{
    max-height: 100%;
    min-height: 100%;
}

.shopping-cart {
    max-height: 100px;
    min-height: 50%;}
    

/* ACA ARRANCA EL BODY */

body{
    background-image: url(../img/BackGround/prism.png);
    background-repeat: repeat;
    min-height: 100%;
}


/* Agrego clase para que sea igual que p otros contenidos similares y no crear varios css */
.beige-color {
    color: var(--beige);
}


.center-image {
    text-align: center;
}

.size-chart-images {
    text-align: center;
    margin: 30px;
}
.size-chart-height {
    height: 1156px;
}
.button-style {
    padding: 9px;
    background-color: var(--dark-grey);
    border: none;
    border-radius: 6px;
}

.button-hover:hover {
    color: var(--beige);
    background-color: var(--crimson);
 }


 .image-sizes {
    max-height: 480px;
    max-width: 480px;
 }
 

/* old 
footer{ 
        padding-top: 20px; 
        width: 100%;
        background-color: var(--dark-grey); 
        opacity: 0.8;
        display: flex ;
        justify-content: center;
        margin-top: auto;
        margin-bottom: 0px;
    }
    */

footer h3 {font-size: 20px; line-height: 28px;}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background-color: #323232;
  }
  
  .contact-info h3, .social-media h3, .payment-methods h3 {
    margin-top: 0;
  }
  
  .social-media img, .payment-methods img {
    height: auto;
    width: 100px;
    display:inline-flex;
    text-align: center;
    padding: 5px;
    max-height: 100px;
    max-width: 100px;
  }
  
  @media screen and (max-width: 767px) {
    footer {
      grid-template-columns: 1fr;
    }
  }