.bg-color-grey {
    background-color: $dark-grey;
  }
  
  * {
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  h1,h2{
    text-align: center; 
    margin: 30px; 
    color: $crimson;
  }
  
  h3 {
    text-align: center; 
    margin: 30px; 
    color: #F0122D;   
  }
  
  p{
    color: $beige;
    font-size: 20px;
    line-height: 28px;
    margin: 5px;
    padding: 5px;
    text-align: center;
  }
  
  h1 {
    font-size: 45px;
  }
  
  h2 {
    font-size: 35px;
  }
  
  h3 {
    font-size: 20px;
  }
  
  .center-image {
    text-align: center;
  }
  
  .size-chart-images {
    text-align: center;
    margin: 30px;
  }
  
  .size-chart-height {
    height: 1156px;
  }
  
  .button-style {
    padding: 9px;
    background-color: $dark-grey;
    border: none;
    border-radius: 6px;
  }
  
  .button-hover:hover {
    color: $beige;
    background-color: $crimson;
  }
  
  .image-sizes {
    max-height: 480px;
    max-width: 480px;
  }
  
  .beige-color {
    color: $beige;
  }

  body {
    background-image: url(../img/BackGround/prism.png);
    background-repeat: repeat;
    min-height: 100%;
  }
  
  footer h3 {
    font-size: 20px;
    line-height: 28px;
  }
  
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background-color: $dark-grey;
  }
  
  .contact-info h3, .social-media h3, .payment-methods h3 {
    margin-top: 0;
  }
  
  .social-media img, .payment-methods img {
    height: auto;
    width: 100px;
    display:inline-flex;
    text-align: center;
    padding: 5px;
    max-height: 100px;
    max-width: 100px;
  }
  
  @media screen and (max-width: 767px) {
    footer {
      grid-template-columns: 1fr;}
    }
    
