
//Colors
$bg-color-grey: #323232;
$color-de-fuentes: #c49e71;
$white: #FFFAFA;
$beige: #DDD0C8;
$dark-grey: #323232;
$crimson: #F0122D;

//fonts

$MainFont: 'Roboto Condensed', sans-serif; 


//sizing

