@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,400&display=swap');

@import '__vars';
@import '__commons';
@import '__nav';

body {
  background-image: url(../img/BackGround/prism.png);
  background-repeat: repeat;
  min-height: 100%;
}

footer h3 {
  font-size: 20px;
  line-height: 28px;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  background-color: $dark-grey;
}

.contact-info h3, .social-media h3, .payment-methods h3 {
  margin-top: 0;
}

.social-media img, .payment-methods img {
  height: auto;
  width: 100px;
  display:inline-flex;
  text-align: center;
  padding: 5px;
  max-height: 100px;
  max-width: 100px;
}

@media screen and (max-width: 767px) {
  footer {
    grid-template-columns: 1fr;}
  }